/* Body as for whole page */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgb(32, 136, 154) 0%, rgb(16, 171, 198) 35%, rgb(11, 189, 229) 100%);
    margin: 0;
    padding: 0;
}


/* Upper left side logo */

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}


.logo-text {
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    font-size: 24px;
    color: #6b6d6d;
}


/* Starts here all the blocks and texts and logos */

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
}

h1 {
    text-align: center;
    color: #dde4e6;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}


.item-list {
    list-style: none;
    padding: 0;
}

.item {
    margin-bottom: 20px;
    background-color: #4eb8ce;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 80px;
    align-content: center;
}


.item a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.item img {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.item p {
    text-align: center;
    margin: 0;
}





/* Media query for smaller screens */
@media only screen and (max-width: 600px) {

    .logo {
        top: 10px;
        left: 10px;
    }

    .logo-text {

        font-size: 18px;
    }

    .container {
        max-width: 250px;
        padding: 20px;
    }

    h1{
        font-size: 24px;
    }

    .item{
        min-height: 75px;;
    }

}